@model  ATS.BusinessEntity.ATSCheckBox
@using BEApplicationOptionsConstant = ATS.BusinessEntity.Common.ApplicationStatusOptionsConstant
<div class="one-div-full ATSCheckBox">
    @Html.CheckBoxListFor(m => m.Answer,
                              m => m.AllValues,
                              divis => divis.Value,
                              divis => divis.Text,
                              m => m.SelectedList, Position.Vertical)
</div>
<script>
    $(document).ready(function () {
        $(".ATSCheckBox > input[type='checkbox']").click(function () {
            return false;
        });
    });
</script>