@model ATS.BusinessEntity.ATSTextArea
@using BEApplicationOptionsConstant = ATS.BusinessEntity.Common.ApplicationStatusOptionsConstant

<div class="one-div-full reviewer-textarea">
    <div class="box ATSTextArea answerComment">
        @Model.Answer
    </div>
</div>
