@model ATS.BusinessEntity.ATSPickList
@using BEApplicationOptionsConstant = ATS.BusinessEntity.Common.ApplicationStatusOptionsConstant

<div class="one-div-full">
    <div class="box ATSPickList">
        @Html.DropDownListFor(m => m.Answer, Model.AllValues, "--Select--", new { @class = "detail-select", @id = "AnsOptValues" })
    </div>
</div>

