@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Navigation{
    <div class="NavItems">
        <span class="navTitle">PASSWORD HELP</span>
        <span class="chevron"></span>
    </div>
}
<script>
    function sendPasswordBegin(result) {
        $("#btnSend").attr('disabled', 'true');
    }
    function sendPasswordSuccess(result) {
        result = JSON.parse(result);
        $("#btnSend").removeAttr("disabled");

        var element = '<div class="std_width spctop-btm"><div id="crumbs" style="margin-top:-8px;"><div class="vacancies-heading" style="color:_COLOR_">_MESSAGE_</div></div></div>';
        if (result.IsError == true) {
            VacancyModel.DisplayErrorMeesage('#commonMessage', result.Message, 3000);
        }
        else {
            var $form = $('#sendPassword');
            element = element.replace('_MESSAGE_', [result.Message]);
            element = element.replace('_COLOR_', 'green');
            $(".contnt-right").html(element);
        }
    }
</script>

@model ATS.WebUi.Models.SignUpModel
@using (Ajax.BeginForm("ForgotPassword", "Home", new { area = ATS.WebUi.Common.Constants.AREA_ROOT }, new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        OnSuccess = "sendPasswordSuccess",
        OnFailure = "updateFailed",
        OnBegin = "sendPasswordBegin"
    }, new { @id = "sendPassword" }))
{

    <text>
        @Html.HiddenFor(m => m.ClientId, new { @Value = ViewBag.ClientId })
        <div id="Messages" style="width: auto; float: left;position:inherit;margin-left:25px;">
        </div>


        <div class="Forgot-Form">
            <div class="Forgot-Title">
                Forgot your password?
            </div>

            <div class="Forgot-Content" >
                <span class="lblForgotEmail">
                    Please enter your email address that is registered to reset your password
                </span>
                @Html.TextBoxFor(m => m.UserName, new { @class = "txtForgotEmail", @PlaceHolder = "Email" })
            </div>
            <div class="Forgot-Action">
                <input type="Submit" value="Get Password" id="btnSub" class="btn-add-new Forgot-button" />
            </div>
        </div>
    </text>
}