@System.Web.Optimization.Styles.Render("~/Content/hintCss")
<div style="width: auto;">
    <div class="HMain">
        <div class="HHeader">
            <div class="HHeaderLeft">
                <img src="~/Content/images/Hint/HImg.png" />
            </div>
            <div class="HHeaderRight">
                <span class="BTitle">Hint: </span>
                <span class="NTitle">The "Applicant Review Process" is sorted into "Review Rounds", each of which is structured as follows:</span>

            </div>
        </div>
        <div class="HContent">
            <ul>
                <li>
                    <span class="BTitle">
                        Review Round
                    </span> <span class="NTitle">
                        (Screening, Internal Eval, Interview)
                    </span>

                    <ul>
                        <li>
                            <img src="~/Content/images/Hint/ListImg1.png" /><span class="BTitle">Reviewers</span>
                            <span class="NTitle">(Your Internal Users)</span>
                        </li>
                        <li>
                            <img src="~/Content/images/Hint/ListImg1.png" />
                            <span class="BTitle">
                                Question Categories
                            </span><span class="NTitle">
                                (Logical Sections of Questions)
                            </span>
                            <ul>
                                <li>
                                <li>
                                    <img src="~/Content/images/Hint/ListImg1.png" />
                                    <span class="BTitle">
                                        Questions
                                    </span> <span class="NTitle">(What you would like to ask Applicants)</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>