@model ATS.BusinessEntity.ApplicationDocuments
<script src="~/Content/js/AjaxFileUpload/AjaxFileUpload.js"></script>

<ul class="RowContent CursorPointer" data-id=''>
    <li class="w40 cntName">Resume</li>
    <li class="w40 cntCategory">abcdef.doc</li>
    <li class="w20 cntShowToCand">
        <input type="button" class="btnUpload">
        <input type="file" name="myfile[]" multiple class="txtFileUpload file-upload" data-extensions="">
    </li>
</ul>
<ul class="RowContent CursorPointer" data-id=''>
    <li class="w40 cntName">Cover Letter</li>
    <li class="w40 cntCategory">asdfasdf.doc</li>
    <li class="w20 cntShowToCand">
        <input type="button" class="btnUpload">
        <input type="file" name="myfile[]" multiple class="txtFileUpload file-upload" data-extensions="">
    </li>
</ul>
<ul class="RowContent CursorPointer" data-id=''>
    <li class="w40 cntName">Final year marksheet</li>
    <li class="w40 cntCategory">abcgasdgasgdef.doc</li>
    <li class="w20 cntShowToCand">
        <input type="button" class="btnUpload">
        <input type="file" name="myfile[]" multiple class="txtFileUpload file-upload" data-extensions="">
    </li>
</ul>
<ul class="RowContent CursorPointer" data-id=''>
    <li class="w40 cntName">Passport Photo</li>
    <li class="w40 cntCategory">abasdcdef.doc</li>
    <li class="w20 cntShowToCand">
        <input type="button" class="btnUpload">
        <input type="file" name="myfile[]" multiple class="txtFileUpload file-upload" data-extensions="">
    </li>
</ul>
<ul class="RowContent CursorPointer" data-id=''>
    <li class="w40 cntName">Passport Copy</li>
    <li class="w40 cntCategory">abcsdag232def.doc</li>
    <li class="w20 cntShowToCand">
        <input type="button" class="btnUpload">
        <input type="file" name="myfile[]" multiple class="txtFileUpload file-upload" data-extensions="">
    </li>
</ul>
<ul class="RowContent CursorPointer" data-id=''>
    <li class="w40 cntName">SSC Marksheet</li>
    <li class="w40 cntCategory">adgasd.doc</li>
    <li class="w20 cntShowToCand">
        <input type="button" class="btnUpload">
        <input type="file" name="myfile[]" multiple class="txtFileUpload file-upload" data-extensions="">
    </li>
</ul>