@{
    ViewBag.Title = "Employee Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!--Content End-->
<div class="featured-jobs">
    <h1>
        Featured Jobs</h1>
    <div class="search-result-detail">
    
     @{
            //Html.RenderAction("GetAllVacancyByCurrentClient", "Home", new { area = ATS.WebUi.Common.Constants.AREA_EMPLOYEE});   
        }
    </div>
</div>

