<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ResumeServiceSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://services.resumeparsing.com/ResumeService.asmx" binding="basicHttpBinding" bindingConfiguration="ResumeServiceSoap" contract="ResumeService.ResumeServiceSoap" name="ResumeServiceSoap" />
    </client>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>


  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DirectoryName" value="LanguageXML" />
    <add key="FileName" value="Resources.xml" />
    <!--Resume download URL-->
    <!--Please do comment accordingto environment-->


    <!--Development-->
    <add key="ResumeUrl" value="http://preaward.grantvantage.com/Resume/" />

    <!--end Resume download URL-->
    <!--Solr tags-->

    <add key="ATSJobSolrUrl" value="http://208.109.186.11:8383/solr/Preaward_Grantvantage" />
    <add key="ATSEmployeeSolrUrl" value="http://208.109.186.11:8383/solr/Preaward_Grantvantage_Employee" />
    <!--END Solr tags-->
    <!--Rchili tags-->
    <add key="ServiceUrl" value="http://splashtrack.rchilli.com/RChilliParser/services/RChilliParser?wsdl" />
    <add key="UserKey" value="V1DJG8QIC2W" />
    <add key="Version" value="5.0.0" />
    <add key="SubUserId" value="Company Name / Client Name" />
    <!--ENd Rchili tags-->
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcMailer.BaseURL" value="" />
    <!--Convert to PDF-->
    <add key="WKHtmltopdfPath" value="c:\\Program Files (x86)\\wkhtmltopdf\\" />

    <add key="DomainName" value="localhost:53382"></add>
    <add key="OnboardingClientID" value="096"></add>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="GridMvc" />
      </namespaces>
    </pages>
    <sessionState cookieless="AutoDetect" regenerateExpiredSessionId="true" timeout="1" />

    <httpRuntime maxRequestLength="10485760" executionTimeout="1500" />

  </system.web>
  <!--<connectionStrings>
    <add name="ATSConnStr" connectionString="SERVER=208.109.186.11\ATSSQLSERVERSTD;user=sa;password=ATS321#@!;database=Grantvantage_CONFIG;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->

  <connectionStrings>
    <!--<add name="ATSConnStr" connectionString="SERVER=208.109.186.11\ATSSQLSERVERSTD;user=sa;password=ATS321#@!;database=Grantvantage_CONFIG;" providerName="System.Data.SqlClient" />-->
    <add name="ATSConnStr" connectionString="Data Source=.;Initial Catalog=Grantvantage_CONFIG;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\TestProj\\TestLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp.xmlworker" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />

    <httpProtocol>
      <customHeaders>
        <add name="ETag" value="&quot;&quot;" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.net>
    <mailSettings>
      <!-- Method#1: Configure smtp server credentials -->
      <!-- Method#1: Configure smtp server credentials -->
      <!-- <smtp from="ATS&lt;noreply@ATS.com&gt;" deliveryMethod="Network">
        <network host="smtp.sendgrid.net" port="587" userName="careermkt" password="CareerMkt1MA" enableSsl="true" />
      </smtp>  -->
      <smtp from="ATS&lt;noreply@splashtrack.com>" deliveryMethod="Network">
        <network host="smtp.sendgrid.net" port="587" userName="splashtrackats" password="splashtrack#@!321" enableSsl="true" />
      </smtp>

    </mailSettings>
    <!--<mailSettings>
      -->
    <!-- Method#1: Configure smtp server credentials -->
    <!--
      -->
    <!-- Method#1: Configure smtp server credentials -->
    <!--
      <smtp from="ATS Admin &lt;shanil.shah@promptsoftech.com&gt;" deliveryMethod="Network">
        <network enableSsl="true" host="mail.promptsoftech.com" port="25" userName="shanil.shah" password="prompt@123" />
      </smtp>
    </mailSettings>-->
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>