@{
    Layout = "~/Views/EmailTemplate/_Layout.cshtml";
}

Dear User, 
<br />
<br />
Here is the password reset link you requested:
<br />
User Name:  @ViewBag.UserName
<br />
<a href="@ViewBag.Link">Click here to reset your password. </a>

<br />
<br />
<br />
**If your browser will not open the above link, please copy and paste the following link into your browser to reset your password:
<br />@ViewBag.Link
<br />
<br />

Best Regards,
<br />
@ViewBag.Domain