@model ATS.WebUi.Models.SignUpModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Navigation{
    <div class="NavItems">
        <div class="MenuItemIcon bgSearch16W"></div>
        <span class="navTitle">CHANGE PASSWORD</span>
    </div>
}
@Html.Partial("_ChangePassword", Model)
