

<div class="login-box1">
    @{Html.RenderAction("Login", "Home");}
    @{Html.RenderAction("SignUp", "Home");}
</div>

<script type="text/javascript">
    function LoginSuccess(result) {
        $('.validation-summary-errors').html('');
        result = JSON.parse(result);
        if (result.IsError == true) {
            var $form = $('#LoginForm');
            //VacancyModel.DisplayErrors($form, [result.Message]);
            VacancyModel.DisplayErrorMeesage('#commonMessage', result.Message, 3000);
        }
        else {
            window.location = result.Url;
        }
    }

    function SignupSuccess(result) {
        result = JSON.parse(result);
        if (result.IsError == true) {
            var $signupform = $('#SignupForm');
            //VacancyModel.DisplayErrors($signupform, [result.Message]);
            VacancyModel.DisplayErrorMeesage('#commonMessage', result.Message, 3000);
        }
        else {
            VacancyModel.RegisterationSuccess($('#CommonMessage'), result.Message);
            window.location = result.Url;
        }
    }
</script>